@model UserRegistrationModel

<div class="containerMain containerBorder">
    <div class="form border mx-auto text-center position-absolute top-50 start-50 translate-middle">
        @using (Html.BeginForm())
        {
            <p class="display-6 mt-3">Registration</p>
            <div>
                <div class="row-2 form-group">
                    <label class="form-label">Username</label>
                    <span asp-validation-for="Username"></span>
                    @Html.TextBoxFor(x=> x.Username, null, new { @class="form-control border border-success", @maxlength="15", @minlength="2", placeholder="Username", required="true" })
                </div>
                <div class="row-2 form-group">
                    <label class="form-label">Email</label>
                    <span asp-validation-for="Email"></span>
                    @Html.TextBoxFor(x=> x.Email, null, new { @class="form-control border border-success", placeholder="Email" })
                </div>
                <div class="row-2 form-group">
                    <label class="form-label">Password</label>
                    <span asp-validation-for="Password"></span>
                    @Html.PasswordFor(x=> x.Password, new { @class="form-control border border-success", placeholder="Password" })
                </div>
            </div>
            <div class="row-2">
                <button type="submit" class="btn btn-outline-info mt-3">Sign Up</button>
            </div>
            <div class="row-2">
                <a class="link link-info mt-3" asp-controller="Authorization" asp-action="Login">Already have an account? Sign In!</a>
            </div>
            <div>
                <a class="link link-light mt-3" asp-controller="Home" asp-action="Index">Back to the main page</a>
            </div>
        }
        <div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
   </div>
</div>