
<div class="containerMain">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">All topics</a>
            </li>
            @if(User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" asp-controller="UserProfiles" asp-action="GetAllProfiles" asp-route-pageNumber="1">All users</a>
                </li>
            }
        </ul>
        <div>
            <div>
                <hr style="height: 3px;" />
            </div>
            <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="#">Forum</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <ul class="list-group list-group-hover">
                    <li class="list-group-item">
                        Item
                    </li>
                    <li class="list-group-item">
                        Item
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>