@model PaginatedList<Topic>

<div class="containerMain">
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">All topics</a>
            </li>
        </ul>
        <div>
            <div>
                <hr style="height: 3px;" />
            </div>
            <div>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a asp-controller="Home" asp-action="Index">Forum</a>
                        </li>
                    </ol>
                </nav>
            </div>
            @if(Model.Items.Any())
            {
                <div>
                    <ul class="list-group list-group-hover">
                        @foreach (var topic in Model.Items)
                        {
                            <li class="list-group-item">
                                <span class="align-top"> @topic.Title </span>
                            </li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div>
                    <p class="emptyListTag">No topics yet </p>
                </div>
            }
            
        </div>
    </div>
    <div class="loginRequestMessage">
        <span> Please, log into your account to continue. <a asp-controller="Authorization" asp-action="EnterLogin"> Sign In!</a> </span><br />
        <span> Don`t have an account yet? <a asp-controller="Registration" asp-action="SignUp"> Sign Up!</a></span>
    </div>
</div>